section{
			min-height: 200px;
			border:2px solid;
			padding-left:100px;
		
		}
		#banner{
			background-color: red;
			}
		#section2{
			background-color: orange;
			margin-bottom: 20px;
			margin-top: 20px;
			padding-left:300px;
		}
		#section3{
			background-color:grey;
		}
		.Link{
			text-decoration: none;
			margin-left:35px;
		}
		footer{
	        margin-bottom: 20px;
			text-align: center;
		}
		header{
			text-align:center;
		}
		nav{
			background-color:purple;
			margin-bottom: 20px;
			min-height: 50px;
			padding-top:20px;

        }
