
        body{ 
    background-color: rgb(43, 43, 85); 
}
      section{
			min-height: 200px;
			border:2px solid;
			padding-left:100px;
		
		}
		
		#section2{
			
			margin-bottom: 20px;
			margin-top: 20px;
			padding-left:400px;
			padding-bottom:10px;
		}
		#section3{
			margin-bottom: 20px;
		}
		.contact{
    border: 3px solid black;
    border-radius:4px;
    width:300px;
    length:300px;
    margin:50px;
    padding:10px;
}
        .text{
        	margin-bottom: 10px;
        }
		.Link{
			text-decoration: none;
			margin-left:35px;
		}
		footer{
	        margin-bottom: 20px;
			text-align: center;
		}
		header{
			text-align:center;
			color:whitesmoke;
		}
		nav{
			background-color:pink;
			margin-bottom: 20px;
			min-height: 50px;
			padding-top:20px;

        }
       .interest{
    padding:30px;
    border:4px solid pink;
    border-radius:4px;
    width:500px;
    length:500px;
    display:flex;
    

}
.box{
    border:4px solid purple;
    border-radius:4px;
    width:200px;
    length:200px;
    margin-right:10px ;
}
img{

	padding-left:800px ;
	
}